<!-- <td *ngFor="let col of columns" scope="col">
  {{flower[col]}}
</td>
<td scope="col">
  <div style="display: block" >
    <canvas  baseChart [datasets]="barChartData" 
    [labels]="barChartLabels" 
    [options]="barChartOptions"
      [legend]="barChartLegend"  [type]="'line'">
    </canvas>

  </div>
</td> -->

<mat-card [ngStyle]="{'background-color': bgColor}"  style="width: 1000px;">
  <mat-card-header  (click)="toggleHide()">
    <mat-card-title style="width:1000px">
      <div style="width: 50%; float:left">
        <span style="width: 100px;"><img width=100 src={{url}} />
        </span>
        <span style="width: 20px;"> #{{flower.token_id}}
          {{flower.name}}
        </span>
       
      </div>
      <div style="width: 45%; float:left">
        <span>
          Grade : {{grade}}<br />
          Hour Rate : {{hourRate}}<br />
          Seed Range: {{flower.minSeed}} - {{flower.maxSeed}}<br />
          Growth Time: {{flower.growthSpeed}} ({{60 - flower.growthSpeed/2}} min)
        </span>
      </div>
      <div style="width: 5%; float:right">
        <span>
          <img 
          *ngIf="hourRate > 24"
          width="25" height="25" src="../../assets/img/star.png">
        </span>
      </div>
      <div style="width: 5%; float:right">
        <span>
          <img 
          *ngIf="zero"
          width="25" height="25" src="../../assets/img/warning-icon.png">
        </span>
      </div>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content style="width: 1000px;" *ngIf="hide">
    <div style="display: grid;grid-template-columns: 50% 50%;">
      <div >
        <canvas width="400" height="300" baseChart [datasets]="barChartData" [labels]="barChartLabels"
          [options]="barChartOptions" [legend]="barChartLegend" [type]="'line'" style="float:left">
        </canvas>
      </div>
      <div >
        <table border="1">
          <tr *ngFor="let col of columns" scope="col">
            <td style="padding: 5px;">{{col}} </td>
            <td style="padding: 5px;">:{{flower[col]}}</td>
          </tr>
        </table>
      </div>
    </div>

  </mat-card-content>
  <mat-card-actions align="end">
    <button mat-button><a  href={{openseaUrl}}><img width="25" height="25" src="../../assets/img/opensea.png"/></a></button>
    
  </mat-card-actions>
</mat-card>