<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title> <img width=30 src="assets/img/seed.png" /> Seed Token (coinmarketcap)</mat-card-title>
    <mat-card-subtitle>
      <div style="font-size: 12px;">{{seedContractAddress}}</div>
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <div class="priceFont">{{seedPrice}} USD</div>
    <div class="priceFont">{{seedBalance}}({{seedPrice * seedBalance| number: '1.2-2'}} USD)</div>
    <table class="table" style="color: white;">
      <tr>
       <td scope="col">
        </td>
       <td scope="col">
          per Harvest
        </td>
       <td scope="col">
          value in usd
        </td>
      </tr>
      <tr>
       <td scope="col">
          maxPerHarvest
        </td>
       <td scope="col">
          {{maxPerHarvest| number: '1.2-2'}}
        </td>
       <td scope="col">
          {{maxPerHarvest * seedPrice | number: '1.2-2'}} USD
        </td>
      </tr>
      <tr>
       <td scope="col">
          minPerHarvest

        </td>
       <td scope="col">
          {{minPerHarvest| number: '1.2-2'}}
        </td>
       <td scope="col">
          {{minPerHarvest * seedPrice| number: '1.2-2'}} USD
        </td>
      </tr>
      <tr>
       <td scope="col">
          midPerHarvest
        </td>
       <td scope="col">
          {{midPerHarvest| number: '1.2-2'}}
        </td>
       <td scope="col">
          {{midPerHarvest * seedPrice| number: '1.2-2'}} USD
        </td>
      </tr>
      <tr>
       <td scope="col">
          avgPerHarvest
        </td>
       <td scope="col">
          {{avgPerHarvest| number: '1.2-2'}}
        </td>
       <td scope="col">
          {{avgPerHarvest * seedPrice| number: '1.2-2'}} USD
        </td>
      </tr>

    </table>
  </mat-card-content>
</mat-card>
