<!-- <div class="header" id="myHeader">
  <app-price-info></app-price-info>
</div> -->

<!-- <app-flower-details *ngFor="let nft of nftList;" [nft]="nft"></app-flower-details> -->

<!-- <div class="header" id="myHeader"> -->
<table>
  <tr>
    <td>
      <form [formGroup]="checkoutForm" (ngSubmit)="onSubmit()">
        <label for="address">
          Address
        </label>
        <input style="margin-left: 5px;" id="address" type="text" formControlName="address">
        <button style="margin-left: 5px;" class="button" type="submit">Search!</button>
      </form>
      <table class="table" style="margin-top: 5px;">
        <tr>
          <td>current address</td>
          <td>{{addr}}</td>
        </tr>
        <tr>
          <td>number of plants</td>
          <td>{{totalPlants}}</td>
        </tr>
      </table>
    </td>
    <td>

      <app-price-info [addr]="addr" [seedPrice]="seedPrice" [seedBalance]="seedBalance" [maxPerHarvest]="maxPerHarvest"
        [minPerHarvest]="minPerHarvest" [midPerHarvest]="midPerHarvest" [avgPerHarvest]="avgPerHarvest">
      </app-price-info>
      <!-- </div> -->
    </td>
  </tr>
</table>


<div [formGroup]="form">
  <select formControlName="rarity" class="form-control">
    <option *ngFor="let web of rarityList">{{web}}</option>
  </select>
  <button (click)="rarityFilter()">Filter</button>
  <button (click)="clear()">Clear</button>
  <p *ngIf="filtered">plant count: {{showList.length}}</p>
</div>
<button (click)="showZero()">zero seeders</button>
<p *ngIf="zeroFlag">Zero seeder count: {{zeroCounts}}</p>
<p *ngIf="zeroFlag">Flat zero seeder count: {{flatZeroCounts}}</p>

<div app-flower-details *ngFor="let flower of showList " [flower]="flower" style="padding-bottom: 20px;">
</div>
