<!-- <div class="header" id="myHeader">
  <app-price-info></app-price-info>
</div> -->

<!-- <app-flower-details *ngFor="let nft of nftList;" [nft]="nft"></app-flower-details> -->

<div class="header" id="myHeader">
  <app-price-info [addr]="addr" [seedPrice]="seedPrice" [seedBalance]="seedBalance"
  [maxPerHarvest]="maxPerHarvest" [minPerHarvest]="minPerHarvest" [midPerHarvest]="midPerHarvest"
  ></app-price-info>
</div>
<form [formGroup]="checkoutForm" (ngSubmit)="onSubmit()">

  <div>
    <label for="address">
      Address
    </label>
    <input id="address" type="text" formControlName="address">
  </div>

  <button class="button" type="submit">Purchase</button>

</form>
<table border="1">
  <tr>
    <th *ngFor="let col of columns">
      {{col}}
    </th>
  </tr>
  <tr *ngFor="let flower of nftList ">
    <td *ngFor="let col of columns">
      {{flower[col]}}
    </td>
  </tr>
</table>
